body {
    font-family: 'Tahoma', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1000px;
    background-color: #1F2937;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    align-items: center;
    margin: 0;
    padding-bottom: 50px;
}

.top-image {
    align-self: center;
    flex-grow: 0;
    width: 500px;
}

.main-info {
    display: flex;
    max-width: 1000px;
    gap: 20px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    width: 250px;
    height: auto;
}

.heading-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.top-text {
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 0px;
}

.header-button {
    background-color: #d35462;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


/*
* {
    border: red solid 1px;
}