body {
    font-family: 'Tahoma', 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
}

.top-section {
    background-color:  #1F2937;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.main  {
    display: flex;
    gap: 30px;
}

.header-links {
    gap: 20px;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

.top-image {
    align-self: center;
    width: 500px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    width: 250px;
    height: auto;
}

.heading-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.top-text {
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 0px;
}

.header-button {
    background-color: #d35462;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}



/*{
    border: red solid 1px;
}

body {
    font-family: 'Tahoma', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.very-top {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 50px;
    max-width: 1000px;
    margin: 0 auto;

}

.header {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 50px;
    width: 100%;
}

.top-image {
    align-self: center;
    width: 500px;
}

.main-info {
    display: flex;
    gap: 20px;
    flex: 1 1 auto;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    width: 250px;
    height: auto;
    flex-grow: 0;

}

.heading-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.top-text {
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 0px;
}

.header-button {
    background-color: #d35462;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
    flex-grow: 1;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

